.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(2, 2, 2, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modal-content {
    padding: 2rem;
    width: 400px;
    border-radius: 8px;
    background: rgb(29, 26, 26);
    height: 200px;
    border: 1px solid rgb(158, 158, 158);
}

.modalButton{
    background: rgb(24, 21, 21);
    border-radius: 4px;
    color: rgb(185, 187, 189);
    border: 1px solid rgb(255, 255, 255);
    margin: .5rem;
    margin-left: 0;
    font-size: 16px;
}

.modalButton:hover {
    background: rgb(226, 140, 140);
    border-radius: 4px;
    color: rgb(22, 27, 32);
    border: 1px solid rgb(255, 255, 255);
    margin: .5rem;
    margin-left: 0;
    font-size: 18px;
}